.buttons {
   margin-top: 3%;
}

.item-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content {
    display: inline-block;
    font-size: 13px;
}

.header {
    font-size: 19px;
    margin-bottom: 5px;
}

.edit-input {
    display: block;
}